    : root {
    --secondary-color-light: #b000ff;
    --secondary-color-light: #bfc2fc;
    --primary-color-light: #ffffff;
    --primary-color-dark: #000000;
  }
  
  /* Default to light mode */
  body {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
  }
  
  /* Add a hover effect to links */
  a:hover {
    color: var(--secondary-color);
  }

  .dark-mode {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    background-color: #121212; /* Change the background color for dark mode */
    color: #bfc2fc;
  }
  
  .light-mode {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    background-color: #ffffff; /* Change the background color for light mode */
    color: #b000ff;
  }

  body {
    font-family: 'Oswald', sans-serif;
  }
  h1 {
    font-family: 'Oswald', cursive;
  }

  h2 {
    font-family: 'Oswald', cursive;
  }