:root {
    --primary-bg-light: #b000ff;
    --secondary-bg-light: #bfc2fc;
    --primary-text-light: #ffffff;
    --secondary-text-light: #000000;
    
    --primary-bg-dark: #ffffff;
    --secondary-bg-dark: #000000;
    --primary-text-dark: #b000ff;
    --secondary-text-dark: #bfc2fc;
  }